$backdrop-filter: blur(20px);

.navbar {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  z-index: -1;
}

.navbar-scroll {
  position: relative; 
  background: rgba(214, 210, 210, 0.2);
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  z-index: -1; 
}

.lightIcon {
  color: #2d3748; 
}

.darkIcon {
  color: #ffffff; 
}

.hoverLightIcon:hover {
  color: #4a5568; 
}

.hoverDarkIcon:hover {
  color: #a0aec0; 
}


/* background sidebar */

.darkSidebar {
  background-color: #2d3748;
  color: white;

  &hover {
    color: #f56565;
  }
}


.lightSidebar {
  background-color: #f7fafc;
  color: #1a202c;
}

/* text menulink */

.lightText {
  color: #2d3748;
  &:hover {
    color: #f56565;
  }
}

.darkText {
  color: #ffffff;
  &:hover {
    color:  #f56565; 
  }
}

.fontBold {
  font-weight: bold;
}
